<div class="row">
	<div class="large-12 columns">
		<%= link_to "Made In", '#', 
				class: "hide_made_in_link sizer_button button tiny radius" %>
		<%# for i in Garment.select(:made_in).uniq.map(&:made_in).sort_by{|e| e} %>
		<% for i in @jeans.map{|i| i.garment.made_in}.uniq.sort_by{|e| e} %>
			<label for="checkbox_<%= i.gsub(' ', '_') %>">
				<%= check_box_tag 'made_in[]', i, 
						params[:made_in] ? params[:made_in].include?(i) : false, 
						id: "checkbox_#{i.gsub(' ', '_')}",
						style: "display: none;",
						class: "checkboxes" %>
				<%= i %>
			</label>
		<% end %>
	</div>
</div>