<div class="row">
	<div class="large-12 columns">
		<label for="amount-front_rise">Front Rise Size:</label>
		<input type="text" id="amount-front_rise" style="border: 0; color: #f6931f; font-weight: bold;" />
		<div class="slider-single">
			<div id="slider-front_rise"></div>
		</div><br>
		<%= hidden_field_tag :front_rise, params[:front_rise], value: params[:front_rise] || 10 %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-12 columns">
		<label for="amount-thigh">Thigh Size:</label>
		<input type="text" id="amount-thigh" style="border: 0; color: #f6931f; font-weight: bold;" />
		<div class="slider-single">
			<div id="slider-thigh"></div>
		</div><br>
		<%= hidden_field_tag :thigh, params[:thigh], value: params[:thigh] || 11.5 %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-12 columns">
		<label for="amount-knee">Knee Size:</label>
		<input type="text" id="amount-knee" style="border: 0; color: #f6931f; font-weight: bold;" />
		<div class="slider-single">
			<div id="slider-knee"></div>
		</div><br>
		<%= hidden_field_tag :knee, params[:knee], value: params[:knee] || 8 %>
	</div>
</div>

<br>

<div class="row">
	<div class="large-12 columns">
		<label for="amount-leg_opening">Leg Opening Size:</label>
		<input type="text" id="amount-leg_opening" style="border: 0; color: #f6931f; font-weight: bold;" />
		<div class="slider-single">
			<div id="slider-leg_opening"></div>
		</div><br>
		<%= hidden_field_tag :leg_opening, params[:leg_opening], value: params[:leg_opening] || 7.5 %>
	</div>
</div>