<div class="row">
	<div class="large-12 columns">
		<h6><%= column.gsub('_', ' ').capitalize %></h6>
		<% for i in jeans.map{|i| i.garment.send(column)}.uniq.sort_by{|e| e} %>
			<label for="checkbox_<%= i.gsub(' ', '_') %>">
				<%= check_box_tag "#{column}[]", i, 
						params[column.to_sym] ? params[column.to_sym].include?(i) : false, 
						id: "checkbox_#{i.gsub(' ', '_')}",
						style: "display: none;",
						class: "checkboxes" %>
				<%= i %>
			</label>
		<% end %>
	</div>
</div>